/* =====================================
   CENTRAL DE RESULTADOS
===================================== */

.resultado-container{

    max-width:1700px;

    margin:25px auto;

    padding:20px;

}

.resultado-topo{

    text-align:center;

    margin-bottom:30px;

}

.resultado-topo h2{

    color:#FFD447;

    font-size:42px;

    margin-bottom:8px;

    font-weight:900;

}

.resultado-topo p{

    color:#d8e6f8;

    font-size:18px;

}

.resultado-dashboard{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    margin-bottom:30px;

}

.dash-card{

    background:#10345e;

    border-radius:18px;

    padding:20px;

    text-align:center;

    color:white;

    box-shadow:0 10px 25px rgba(0,0,0,.30);

}

.dash-card span{

    display:block;

    font-size:15px;

    opacity:.8;

}

.dash-card strong{

    display:block;

    margin-top:10px;

    font-size:36px;

    color:#FFD447;

}

.resultado-filtros{

    display:flex;

    gap:15px;

    margin-bottom:30px;

}

.resultado-filtros input{

    flex:1;

}

.resultado-filtros input,
.resultado-filtros select{

    height:55px;

    border:none;

    border-radius:12px;

    padding:0 18px;

    font-size:17px;

}

#gradeResultados{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:18px;

}

@media(max-width:1200px){

.resultado-dashboard{

grid-template-columns:repeat(2,1fr);

}

#gradeResultados{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.resultado-dashboard{

grid-template-columns:1fr;

}

.resultado-filtros{

flex-direction:column;

}

#gradeResultados{

grid-template-columns:1fr;

}

}

.cardResultadoNovo{

    background:#102d53;

    border-radius:18px;

    padding:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.30);

}

.cabResultado{

    display:flex;

    justify-content:space-between;

    color:#FFD447;

    font-size:13px;

    margin-bottom:15px;

}

.pais{

    text-align:center;

    color:white;

    font-size:18px;

    font-weight:bold;

    margin:10px;

}

.placarNovo{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

}

.placarNovo input{

    width:55px;

    height:55px;

    border:none;

    border-radius:12px;

    text-align:center;

    font-size:26px;

    font-weight:bold;

}

.placarNovo span{

    color:#FFD447;

    font-size:28px;

    font-weight:bold;

}

.btnSalvarNovo{

    width:100%;

    margin-top:15px;

    background:#17b65a;

    color:white;

    border:none;

    border-radius:12px;

    padding:12px;

    font-weight:bold;

    cursor:pointer;

}

.bandeiraResultado{

    width:60px;

    height:40px;

    object-fit:cover;

    border-radius:6px;

    margin-bottom:10px;

    box-shadow:0 3px 8px rgba(0,0,0,.35);

}

.pais{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:8px;

    color:#fff;

    font-size:19px;

    font-weight:bold;

}

